extends base

block vars
  - var title = 'התחברות'
  - var description = 'התחברו לחשבונכם!'
  - var bodytag = 'login'
  - var socialProviders = stormpathConfig.socialProviders

block body


  header
    .container
      .logo.pull-right.animated.wow.fadeInRight
        img(src='img/aml_logo.png', alt='', title='')
      nav.pull-right
        ul.list-unstyled
          li.animated.wow.fadeInLeft(data-wow-delay='.1s')
            a(href='/') חזרה לדף הראשי
          li.animated.wow.fadeInLeft(data-wow-delay='0s')
            a(href='/register') הרשמה למערכת
        //- li.animated.wow.fadeInLeft(data-wow-delay='.2s')
        //-   a(href='#about') הזמן שירות
      .social.pull-left
        ul.list-unstyled
          li.animated.wow.fadeInLeft(data-wow-delay='.2s')
            a(href='#')
              img(src='img/facebook.png', alt='', title='')
          li.animated.wow.fadeInLeft(data-wow-delay='.1s')
            a(href='#')
              img(src='img/twitter.png', alt='', title='')
          li.animated.wow.fadeInLeft(data-wow-delay='0s')
            a(href='#')
              img(src='img/google.png', alt='', title='')
      span.burger_icon menu
  // End Header Section
  // Hero Section
  section#hero.hero(dir='rtl')
    .container
      .sp_container.custom-container
        .va-wrapper
          .view.login-view.sp_container
            if status
              .box.row
                .email-password-area.col-xs-12.large.col-sm-12
                  .header
                    if status === 'unverified'
                      span.
                        הודעה לאימות כתובת המייל נשלחה בהצלחה!
                      p.
                        לפני שתוכלו להתחבר לחשבונכם, עליכם להפעיל את חשבונכם על ידי
                        לחיצה על הקישור ששלחנו לכם לכתובת המייל שלכם.
                      p.
                        לא קיבלתם את ההודעה? <a href="#{stormpathConfig.web.verifyEmail.uri}">לחצו כאן</a>.
                      br
                    if status === 'verified'
                      span.
                        חשבונכם אומת.
                      p.
                        אתם רשאים להתחבר כעת.
                    if status === 'created'
                      span.
                        חשבונכם נוצר בהצלחה.
                      p.
                        אתם רשאים להתחבר כעת.
                    if status === 'reset'
                      span.
                        הסיסמא אופסה בהצלחה.
                      p.
                        אתם רשאים כעת להתחבר עם הסיסמא החדשה.
                      br
                    if status === 'forgot'
                      span.
                        נשלחה בקשה לאיפוס סיסמא.
                      p.
                        אם קיים במערכת חשבון עם כתובת המייל שהזנתם, תקבלו בקרוב מייל.
              br
            .box.row(id='loginform')
              if socialProviders
                - var cls = 'small col-sm-6'
              else
                - var cls = 'large col-sm-12'
              
              
              if socialProviders
                .social-area.col-xs-12.col-sm-6
                  .header התחברות עם גוגל+
                  //label 
                  if socialProviders.facebook && socialProviders.facebook.enabled
                    include facebook_login_form.jade
                  if socialProviders.google && socialProviders.google.enabled
                    include google_login_form.jade
                  if socialProviders.linkedin && socialProviders.linkedin.enabled
                    include linkedin_login_form.jade
              
              div(class='email-password-area col-xs-12 #{cls}')
                .header התחברות למערכת
                  //- if stormpathConfig.web.register.enabled
                  //-   span.
                  //-     התחברו או <a href="#{stormpathConfig.web.register.uri}">צרו חשבון חדש</a>
                  //- else
                  //-   span.
                  //-     התחברו

                if error
                  .alert.alert-danger.bad-login
                    p #{error}

                if formErrors
                  .alert.alert-danger.bad-login
                    each error in formErrors
                      p #{error.error}

                form.login-form.form-horizontal(method='post', role='form',action=formActionUri)
                  input(name='_csrf', type='hidden', value=csrfToken)

                  .form-group.group-email
                    if socialProviders
                      - var cls = 'col-sm-12'
                    else
                      - var cls = 'col-sm-4'

                    //- if stormpathConfig.web.register.fields.username.enabled
                    //-   label(class='#{cls}') שם משתמש או אימייל
                    //- else
                    //-   label(class='#{cls}') אימייל

                    if socialProviders
                      - var cls = 'col-sm-12'
                    else
                      - var cls = 'col-sm-8'

                    div(class='#{cls}')
                      - var value = form.data ? form.data.login : '';
                      if stormpathConfig.web.register.fields.username.enabled
                        input.form-control(autofocus='true', placeholder='Username or Email', required=true, name='login', type='text', value=value)
                      else
                        input.form-control(autofocus='true', placeholder='אימייל', required=true, name='login', type='text', value=value)

                  if socialProviders
                    - var cls = 'col-sm-12'
                  else
                    - var cls = 'col-sm-4'

                  .form-group.group-password
                    label(class='#{cls}')

                    if socialProviders
                      - var cls = 'col-sm-12'
                    else
                      - var cls = 'col-sm-8'

                    div(class='#{cls}')
                      input.form-control(placeholder='סיסמא', required=true, type='password', name='password')

                  div
                    button.login.btn.btn-login.btn-sp-green(type='submit') התחבר
              
            

                if stormpathConfig.web.verifyEmail.enabled
                  a.forgot(style="float:left", href="#{stormpathConfig.web.verifyEmail.uri}") אימות כתובת מייל
                if stormpathConfig.web.forgotPassword.enabled
                  a.forgot(style="float:right", href="#{stormpathConfig.web.forgotPassword.uri}") שכחתם סיסמא?
        
        //button(type='button', onclick='toggle("loginform")') התחבר
  // Featured On Section
  section.featured_on
    .container
      ul.list-unstyled.text-center.clearfix
        li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.4s')
          <img src="img/ida_big.png" alt="" title="">
        li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.3s')
          <img src="img/lawoffice_big.png" alt="" title="">
        li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown(data-wow-delay='.2s')
          <img src="img/iml_logo_big2.png" alt="" title="">
        li.col-xs-6.col-sm-6.col-md-3.animated.wow.fadeInDown
          <img src="img/mof_big.png" alt="" title="">
  // End Featured On Sectionscript(type='text/javascript', src='js/toggle.js')
