html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
    style.
      .mySubmit {
        float: left;
      }

  body(dir='rtl')
    div.container

      div.page-header
        h1 הפרופיל שלי

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span הפרופיל נשמר
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          div.col-sm-8
            input.form-control(
              placeholder='שם פרטי',
              required=true,
              name='givenName',
              type='text',
              value=givenName)
          label.col-sm-4 שם פרטי
        div.form-group
          div.col-sm-8
            input.form-control(placeholder='שם משפחה',
              required=true,
              name='surname',
              type='text',
              value=surname)
          label.col-sm-4 שם משפחה
        div.form-group
          div.col-sm-8
            input.form-control(placeholder='דוגמא: הרצל 200',
              required=true,
              name='streetAddress',
              type='text',
              value=streetAddress)
          label.col-sm-4 רחוב
        div.form-group
          div.col-sm-8
            input.form-control(placeholder='לדוגמא: תל אביב',
              required=true,
              name='city',
              type='text',
              value=city)
          label.col-sm-4 עיר
        div.form-group
          div.col-sm-8
            input.form-control(placeholder='לדוגמא: ישראל',
              required=true,
              name='state',
              type='text',
              value=state)
          label.col-sm-4 מדינה
        div.form-group
          div.col-sm-8
            input.form-control(placeholder='מיקוד',
              required=true,
              name='zip',
              type='text',
              value=zip)
          label.col-sm-4 מיקוד
        div.form-group
          div.col-sm-8
            button.login.btn.btn-primary(type='submit') שמור
        div.pull-right
          a(href="/") בחזרה לדף הראשי
